registry=https://registry.npm.dfxkdata.com/
//registry.npm.dfxkdata.com/:_password=YWRtaW5AZGZ4a2RhdGEuY29t
//registry.npm.dfxkdata.com/:username=admin
//registry.npm.dfxkdata.com/:email=admin@dfxkdata.com
//registry.npm.dfxkdata.com/:always-auth=false
